<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683637134618-80hgiil47g78ggmqvcq78tkijr7cf8ft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683637134618-80hgiil47g78ggmqvcq78tkijr7cf8ft</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>683637134618-7fo84gj5bqhsthv4vdpf4ijf592277rq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDa1RKvVBe8Wv3AX-CHlyO9LuP9wdPtzh4</string>
	<key>GCM_SENDER_ID</key>
	<string>683637134618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.borabrasil.passageiro.debug</string>
	<key>PROJECT_ID</key>
	<string>bora-brasil-rider</string>
	<key>STORAGE_BUCKET</key>
	<string>bora-brasil-rider.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683637134618:ios:1a20736c2e462ddf1bc8a3</string>
	<key>DATABASE_URL</key>
	<string>https://bora-brasil-rider.firebaseio.com</string>
</dict>
</plist>