<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610234154302-3292dau4vsoi2optta51tbceam1e66qh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610234154302-3292dau4vsoi2optta51tbceam1e66qh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>610234154302-v0dt13blm9mq9n1j6ps8dmigu56d91ea.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLboC-bn7d8wkTpBNzkObPrFspQSTzciM</string>
	<key>GCM_SENDER_ID</key>
	<string>610234154302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.borabrasil.motorista</string>
	<key>PROJECT_ID</key>
	<string>bora-brasil-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>bora-brasil-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610234154302:ios:ebae7ec0380a66bbb3406f</string>
	<key>DATABASE_URL</key>
	<string>https://bora-brasil-driver.firebaseio.com</string>
</dict>
</plist>